/* Bordered form */
form {
    border: 300px ;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #D8C3A5;
    color: black;
    padding: 12px 18px;/*nk adjust nipis or tebal*/
    margin: 10px 5px;/*nk adjust position*/
    border: none;
    cursor: pointer;
    width: auto;

}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 20px;
    background-color: #f1f1f1;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
    background-color: white;
}
.btn-primary
{
    padding: 5px 10px 5px;

}
/* Add padding to containers */
.fillcontainer {
    padding: 16px;

}
.cancelcontainer {
    padding: 16px 10px;
    background-color:#D8C3A5;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left:0;
    top: 0;
    width: 100%; /* Full width */

    background-size: cover;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color:#f1f1f1;
    margin: 60px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: auto;
}
.form-group{
    padding-left: 16px;
    padding-right: 16px;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: static;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    float: right;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: palegreen;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.signupWord{
    text-align: center;
    padding-bottom: 50px;
    font-size:3em;
    color:#f1f1f1;
}
.backgroundSignUp{
    position: relative;
    min-height: 100vh;
    padding: 100px;
    background: url("n1.jpg");
    background-size: cover;
    display: revert;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
    min-width: 100vh;
}
.descSU{
    font-size: 1.5em;
    color: #f1f1f1;
    margin: 10px auto; /* 15% from the top and centered */
    width: 40%; /* Could be more or less, depending on screen size */
    height: 0;
}
.form-groupSU
{
    color: black;
    font-size:1em;
    background-color: #D8C3A5;
    opacity: 0.90;
    padding: 10px;
    width: auto;
    box-sizing: content-box;
}
.modal-contentSU{

    margin: 60px auto; /* 15% from the top and centered */
    width: 40%; /* Could be more or less, depending on screen size */
    height: auto;
}
.Logout
{

    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform:uppercase;
    align-content: start;
    color:#f1f1f1;
    top:0px;
    right: 0px;
    padding-top: 20px
}

.backgroundLg
{
    position: relative;
    min-height: 100vh;
    padding: 100px;
    background: url("n1.jpg");
    background-size: cover;
    display: revert;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
    min-width: 100vh;
}
.LogoutWelcome{
    padding-top: 150px;
    text-align: center;
    font-size: 2em;
}

.loltext {
    display: inline-block;
    border-radius: 1px;
    background-color: #CF9C71;
    border: none;
    color:white;
    text-align: center;
    font-size: 9px;
    padding: 15px 23px 25px 15px;
    width: 900px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .loltext span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .loltext span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .loltext:hover span {
    padding-right: 25px;
  }
  
  .loltext:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .lolz{
      padding: 25px 50px 75px 200px;
  }